snippet brow
	<div class="row">
		${1:content}
	</div>

snippet bspan
	<div class="span${1:8}">
		${2:content}
	</div>

snippet bform
	<form>
		<fieldset>
			<legend>
				<div class="clearfix">
					<label for="${1:labelFor}">${2:label}</label>
					<div class="input">
						${3:content}
					</div>
				</div>
			</legend>
		</fieldset>
	</form>
